:root {
  --color-primary: #5e22c7;
  --color-secondary: #fafafa;

  /* --color-primary-dark: #0097a7; */
  --color-primary-light: #8f59ee;
  /* --color-secondary-dark: #fafafa;
  --color-secondary-light: #fafafa; */

  --color-primary-text: #ffffff;
  --color-secondary-text: #212121;
  --color-primary-text-dark: #ffffff;
  --color-secondary-text-dark: #212121;
  --color-primary-text-light: #212121;
  --color-secondary-text-light: #ffffff;

  --color-primary-text-disabled: #bdbdbd;
  --color-secondary-text-disabled: #bdbdbd;

  --color-primary-text-hint: #bdbdbd;
  --color-secondary-text-hint: #bdbdbd;
}
body {
  background-color: var(--color-primary);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.navbar {
  overflow: hidden;
}

.logo {
  font-size: 1.5em;
  color: var(--color-primary-text);
}
.search-bar {
  height: 50px;
  border-radius: 25px;
  border: 1px solid #f4511e;
  padding: 0 20px;
  font-size: 1.5em;
  color: #f4511e;
}
/* #search {
  
  height: 50px;
  border-radius: 25px;
  border: 1px solid #f4511e;
  padding: 0 20px;
  font-size: 1.5em;
  color: #f4511e;
} 

.profile {
} */
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #f4511e;
  padding: 0 20px;
  font-size: 1.5em;
  color: #f4511e;
}
/* 
.main-system {
  background-color: #f4511e;
}
.integration {
  background-color: #f4511e;
} */
.btn {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  border: 1px solid var(--color-primary);
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1.3em;
  transition: 0.2s ease all;
}
.btn:hover {
  background-color: var(--color-primary);
}

.select-date {
  height: 50px;
  border-radius: 25px;
  border: 1px solid #f4511e;
  padding: 0 20px;
  font-size: 1.5em;
  color: #f4511e;
}
