:root {
  --color-primary: #5e22c7;
  --color-secondary: #fafafa;

  /* --color-primary-dark: #0097a7; */
  --color-primary-light: #8f59ee;
  /* --color-secondary-dark: #fafafa;
  --color-secondary-light: #fafafa; */

  --color-primary-text: #ffffff;
  --color-secondary-text: #212121;
  --color-primary-text-dark: #ffffff;
  --color-secondary-text-dark: #212121;
  --color-primary-text-light: #212121;
  --color-secondary-text-light: #ffffff;

  --color-primary-text-disabled: #bdbdbd;
  --color-secondary-text-disabled: #bdbdbd;

  --color-primary-text-hint: #bdbdbd;
  --color-secondary-text-hint: #bdbdbd;

  /* Colors */
  --box-shadow-primary: 5px 10px 10px rgb(0 0 0 / 16%);
}
body {
  background-color: var(--color-primary);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

/* Navigation */
.navbar {
  overflow: hidden;
}

.logo {
  font-size: 1.8em;
  color: var(--color-primary-text);
  font-weight: 800;
  letter-spacing: 0.7px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: url("peakpx.jpg");
  background-size: contain;
  background-position: top;
}

.select-date {
  height: 50px;
  border-radius: 25px;
  border: 1px solid black;
  padding: 0 20px;
  font-size: 1.5em;
  color: #f4511e;
}
#search {
  height: 50px;
  width: 30vw;
  border-radius: 25px;
  border: none;
  padding: 0 20px;
  font-size: 1em;
  color: #f4511e;
}
hr {
  border-color: #ffffff8f;
}

/* Inner Content */
.card {
  box-shadow: var(--box-shadow-primary);
}
.btn {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  border: 1px solid var(--color-primary);
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1.15em;
  transition: 0.2s ease all;
}
.btn:hover {
  background-color: var(--color-primary);
}

.main-system div,
.integration div {
  padding: 1rem;
  border-radius: 12px;
  margin: 10px 0;
}
.main-system div:hover,
.integration div:hover {
  background: #f3f3f3;
}

.main-system div.active,
.integration div.active {
  font-weight: 800;
  background: #ebe9e9 !important;
}

/* Table */
table {
  border-collapse: collapse;
  ;
}
