:root {
  /* Primary */
  --color-primary: #5e22c7;
  --color-primary-light: #8f59ee;

  /* Secorndary */
  --color-secondary: #f3f3f3;
  --color-secondary-dark: #ebe9e9;

  /* Text */
  --color-primary-text: #ffffff;
  --color-secondary-text: #5d00ff;
}
/* Colors */
.text-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.bg-main {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}

/* Display Type */
.flex {
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.horiz-center {
  justify-content: center;
}
.verti-center {
  align-items: center;
}
.verti-space {
  justify-content: space-between;
}
.space-between {
  justify-content: space-between;
}

/* widths */
.left-30 {
  width: 30%;
}
.right-70 {
  width: 70%;
}
.left-25 {
  width: 25%;
}
.right-75 {
  width: 75%;
}
.full-width {
  width: -webkit-fill-available;
}

/* heights */
/* spacing */
.px0-10-margin {
  padding: 0 10px;
}
.r1-margin {
  margin: 1rem;
}
.r0-r1-padding {
  padding: 0 1rem;
}
.r2-padding {
  padding: 2rem;
}

.r2-r4-padding {
  padding: 2rem 4rem;
}
.px-35-border-radius {
  border-radius: 35px;
}
